@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgb(12, 24, 82);
}

div {
  display: inline-block;
  height: 50px;
  width: 80px;
  background-color: rgb(61, 61, 61);
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  display: inline-block;
  border: 1px solid rgb(27, 255, 15);
  height: 500px;
  width: 700px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25%;
  border-radius: 20px;
}
