body {
  background-color: rgb(12, 24, 82);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

div {
  color: rgb(146, 223, 21);
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
}
