@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgb(12, 24, 82);
  font-family: Arial, Helvetica, sans-serif;
}

.titulo-superior {
  color: rgb(146, 223, 21);
  font-size: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 90px;
  text-align: center;
  width: 100%;
}

div {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(146, 223, 21);
  font-size: 100px;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.botao-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25%;
  padding: 10px 20px;
  background-color: rgb(146, 223, 21);
  color: rgb(39, 59, 7);
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
}

.botao-link:hover {
  background-color: #364626;
  color: rgb(146, 223, 21);
}
